<form action="{{ path('authenticate') }}" method="post">
    {{ error }}<br/>
    <input type="text" name="_username" value="{{ last_username }}"/><br/>
    <input type="password" name="_password" value=""/><br/>
    <input type="submit" name="submit"/>
</form>